binds:
- port: 3001
  listeners:
  - routes:
    - backends:
      - mcp:
          targets:
          - name: openapi
            openapi:
              schema:
                file: argo-openapi-ai-enhanced.json
              host: localhost:2746
      policies:
        cors:
          allowOrigins:
            - "*"
          allowHeaders:
            - "*"